<html ng-app="custom-webapp-ui" lang="en" style="background-color: white">
  <head>
    <!-- Load the Telegram Library -->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <!--Load the AngularJS Library-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
      //initialize the AngularJS stuff...
      angular.module("custom-webapp-ui", []).controller('CustomUIController', function CustomUIController($scope) {
		let startParam = window.Telegram.WebApp.initDataUnsafe.start_param
		
        //init our slider values that we will display
        $scope.foods = [
                { name: "fruits", value: 5 },
                { name: "vegetables", value: 5 },
                { name: "meat", value: 5 },
                { name: "dairy", value: 5 },
				{ name: "fairy", value: 5 },
				{ name: "start_param", value: startParam },
            ];
			

			
        //initialize the button
        const mainButton = window.Telegram.WebApp.MainButton;
        mainButton.text = "Save My Preferences";
        mainButton.enable();
        mainButton.show();
        // and make it send the "foods" object (as JSON string) back to the bot
        mainButton.onClick(function(){
          let scopedFoods = $scope.foods;
          console.log("scopedFoods " + scopedFoods );

          let jsonFoods = JSON.stringify (scopedFoods);
          console.log("jsonFoods " + jsonFoods );
		  
		  let tg = window.Telegram.WebApp;
		  
          
          window.Telegram.WebApp.sendData(JSON.stringify($scope.foods));
        });
		Telegram.WebApp.onEvent('mainButtonClicked', function(){
			console.log("onEvent('mainButtonClicked "  );
			window.Telegram.WebApp.sendData("some string that we need to send"); 
		});
		
		
		//-----------------------------------------------------
		let tg = window.Telegram.WebApp;
		let usercard = document.getElementById("usercard"); 

		let profName = document.createElement('p');
		profName.innerText = `${tg.initDataUnsafe.user.first_name}
		${tg.initDataUnsafe.user.last_name}
		${tg.initDataUnsafe.user.username} (${tg.initDataUnsafe.user.language_code})`;

		usercard.appendChild(profName); 

		let userid = document.createElement('p'); 
		userid.innerText = `${tg.initDataUnsafe.user.id}`; 
		usercard.appendChild(userid); 
				
		
		//-----------------------------------------------------
		  const uploadTextInput = document.getElementById("checkingTextInput");
		  uploadTextInput.addEventListener(
        "change",
        () => {
          // Calculate total size
         const output =666;

        
          document.getElementById("textFileSize").textContent = output;
        },
        false,
      );
		
		//-----------------------------------------------------
		
		
		
		
		
		
		  const uploadInput = document.getElementById("uploadInput");
      uploadInput.addEventListener(
        "change",
        () => {
          // Calculate total size
          let numberOfBytes = 0;
          for (const file of uploadInput.files) {
            numberOfBytes += file.size;
          }

          // Approximate to the closest prefixed unit
          const units = [
            "B",
            "KiB",
            "MiB",
            "GiB",
            "TiB",
            "PiB",
            "EiB",
            "ZiB",
            "YiB",
          ];
          const exponent = Math.min(
            Math.floor(Math.log(numberOfBytes) / Math.log(1024)),
            units.length - 1,
          );
          const approx = numberOfBytes / 1024 ** exponent;
          const output =
            exponent === 0
              ? `${numberOfBytes} bytes`
              : `${approx.toFixed(3)} ${
                  units[exponent]
                } (${numberOfBytes} bytes)`;

          document.getElementById("fileNum").textContent =
            uploadInput.files.length;
          document.getElementById("fileSize").textContent = output;
        },
        false,
      );
      });
	  
    </script>
  </head>
  <body ng-controller="CustomUIController">
    <div id="usercard">
   </div>
    <div ng-repeat="food in foods">
      <div style="width: 100px; display: inline-block">{{food.name}} : {{food.value}}</div>
      <input style="display: inline-block" type="range" min="1" max="10" ng-model="food.value" value="{{food.value}}">
    </div>
	
<form name="uploadForm">
      <div>
        <input id="uploadInput" type="file" multiple />
        <label for="fileNum">Selected files:</label>
        <output id="fileNum">0</output>;
        <label for="fileSize">Total size:</label>
        <output id="fileSize">0</output>
      </div>
      <div><input type="submit" value="Send file" /></div>
    </form>
	
	
<form name="checkingTextForm">
      <div>
        <input id="checkingTextInput" type="text"  />
 
        <label for="textFileSize">Total size:</label>
        <output id="textFileSize">0</output>
      </div>
      <div><input type="submit" value="Send file" /></div>
    </form>	
	
  </body>
</html>